node_modules/
functions/lib/
firebase-debug.log
npm-debug.log
functions/sendgridEnv.ts
public/js/config.js
.firebase
.DS_store

build/dist
public/dist
dist
functions/.runtimeconfig.json
firestore-debug.log