:root {
  --blue: #49adea;
  --grey: #f5f6f6;
  --medium-grey: #c0c0c0;
  --orange: #e88b33;
  --light-orange: #e88b33;
  --base-alpha: 0.57;
  --light-orange: rgba(232, 139, 51, var(--base-alpha));
  --light-white: rgba(255, 255, 255, var(--base-alpha));
  --base-transition-timing: 150ms;
}

* {
  box-sizing: border-box;
}

.pompiere {
  font-family: Pompiere, sans-serif;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
}