<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Pompiere&display=swap"
      rel="stylesheet" />
    <title>Adventure Academy Piece by Piece</title>
    <style>
      body,
      html {
        padding: 0;
        margin: 0;
      }
    </style>
  </head>
  <body>
    <nav id="svelte-navbar"></nav>
    <section id="svelte-google-maps"></section>
    <footer id="svelte-footer"></footer>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
